body{
    background-image: url("../images/bg-vs.jpg");
    background-size: cover;
}

.jumbotron-unit4game {
    /* opacity: 0.5; */
    /* background: #999999; */
    background: rgba(99, 99, 99, 0.5);
    color: white;
    font-weight: 900;
}

img {
    width: 200px;
}

.stats{
    background: black;
    color: white;
}