body{
    background-image: url("../images/bg-vs.jpg");
    background-size: cover;
}

.jumbotron-unit4game {
    /* opacity: 0.5; */
    /* background: #999999; */
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(167, 44, 44);
    background: rgba(99, 99, 99, 0.5);
    color: black;
    font-weight: 900;
}

img {
    width: 200px;
}

.stats{
    background: black;
    color: white;
}

.alert{
    position: fixed;
    height: 50px;
    /* top: -200px; */
}

#reset{
    width: 200px;
    color: black;
    -webkit-text-stroke-color: black;
}